.profile__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

@media (min-width: 600px) {
  .profile__data {
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    max-width: calc(100% - 70px); /* 70px — 50 под кнопку добавления места и 20 отступ от нее*/
  }
}
