.popup__profile-save {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  background: #000000;
  border: none;
  border-radius: 2px;
  width: 100%;
  min-height: 46px;
}

.popup__profile-save:hover{
  opacity: 0.6;
  cursor: pointer;
}

@media (min-width: 581px) {
  .popup__profile-save {
    min-height: 50px;
    font-size: 18px;
    line-height: 22px;
    /* text-align: center; */
  }
}
